<h1> about me </h1>

 <nav>
  <ul>
          <li><a href="#">about me </a></li>
          <li><a href="#">facebook</a></li>
          <li><a href="#">twitter</a></li>
          </ul> 

 </nav>
<img src="http://cimg.phdcdn.com/3168798/220x230_5NgIG9XRT3Kh.jpg" >

<p> "this is a tool that i use all the time " </p>